@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";
}

<div>
    <form method="post" action="~/SortingHat/Squestion7.cshtml">
        <div>Vraag 6: lalalalalala </div>
        <input type="radio" name="Q6" value="griffindor" />antwoord 1<br />
        <input type="radio" name="Q6" value="hufflepuff" /> antwoord 2<br />
        <input type="radio" name="Q6" value="ravenclaw" /> antwoord 3<br />
        <input type="radio" name="Q6" value="slytherin" /> antwoord 4<br />
        <input type="submit" value="Question 7" />
        @Html.Hidden("Q1", Request["Q1"])
        @Html.Hidden("Q2", Request["Q2"])
        @Html.Hidden("Q3", Request["Q3"])
        @Html.Hidden("Q4", Request["Q4"])
        @Html.Hidden("Q5", Request["Q5"])

    </form>
</div>